.tabContainer {
  margin: auto;
  text-align: center;
}

.admin-row-section{
  width: 50%;
  margin: auto;
}
.usersList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 50px 0;
}

.usersList td,
.usersList th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.usersList tr:nth-child(even) {
  background-color: #f2f2f2;
}

.usersList tr:hover {
  background-color: #ddd;
}

.usersList th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #007bff;
  color: white;
}

.articlesList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}

.articlesList td,
.articlesList th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.articlesList tr:nth-child(even) {
  background-color: #f2f2f2;
}

.articlesList tr:hover {
  background-color: #ddd;
}

.articlesList th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #007bff;
  color: white;
}

h1 {
  text-align: center;
}

span {
  font-size: 200%;
  line-height: 80%;
}