.navbar {
  box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.13);
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.bienvenu {
  font-size:5vw;
  margin-bottom: 3%;
}

.accueilSection {
  text-align: center;
  margin-top: 10%;
}

.nav-link {
  display: inline-block;
  padding:0 0;
}